<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cars API</title>
</head>
<body>
    <h1>Welcome to the Cars API!</h1>
    <p>Start using the URI <code style="color: red">/cars</code>.</p>
    <div style="
        margin-top: 10px;
        background-color: lightgray;
        padding: 10px 50px;
        border-radius: 10px;
    ">
        <p><strong>POST requests: </strong><code style="color: red">/cars</code> </p>
        <p><strong>GET requests: </strong><code style="color: red">/cars/{idChassi}</code></p>
    </div>



<h2>Instructions</h2>
<h2>Rules</h2>
<h2>Errors</h2>

</body>
</html>